body{
    background-color: #3B5D76;
	padding-left: 20px;
	padding-right: 20px;
}
h2{
	font-family: 'Pompiere', cursive;
	text-shadow: 3px 3px 2px #1b1d1f;
}
h3{
	font-family: 'Pompiere', cursive;
	text-shadow: 3px 3px 2px #1b1d1f;
}
p{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
img.center {
    display: block;
    margin: 0 auto;
}
button{
	align-content: center;
}
.col-md-4{
	align-content: center;
	text-align: center;
}
.card-body{
	align-content: center;
	text-align: center;
}
.card-img-top{
	padding-top: 3.5px;
	padding-left: 3.5px;
	padding-right: 3.5px;
	border-radius: 10px;
}
.btn{
	float: inherit;
	position: relative;
	align-content: center;
	align-items: center;
	
}