body{
    background-color: #d1d4db;
	padding-left: 20px;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}
h2{
	font-family: 'Pompiere', cursive;
	
}
h3{
	font-family: 'Pompiere', cursive;
}
p{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	letter-spacing: 1.5px;
	color: black;
	font-size: 1em;
}
img.center {
    display: block;
    margin: 0 auto;
}
button{
	align-content: center;
}
.col-md-4{
	align-content: center;
	text-align: center;
}
.card-body{
	align-content: center;
	text-align: center;
}
.card-img-top{
	padding-top: 3.5px;
	padding-left: 3.5px;
	padding-right: 3.5px;
	border-radius: 10px;
}
.container{

}