.navbar-brand{
	font-family: 'Cinzel Decorative', cursive;
	font-size: 1.75em;
	word-spacing: 5px;
}
.navbar-nav{
	text-align: right;
	font-size: 1.35em;
	word-spacing: 25px;
}
.nav-item{
	font-family: 'Open Sans Condensed', sans-serif;
	word-spacing: 15px;
}
navbar:hover{
	color: white;
}
